@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');
@font-face {
    font-family: 'Norse bold';
    src: url('fonts/Norse-Bold.otf') format('truetype');
}

* {
    font-family: 'Roboto', sans-serif;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    display: flex;
    width: 100%;
}

.left-container {
    background-image: url('img/elijah-pilchard-D4WXuiwF5yk-unsplash.jpg');
    flex: 1;
    background-size: cover;
}

.logo-container {
    display: flex;
    font-size: 3rem;
    color: #fff;
    text-align: center;
    margin-top: 25%;
    height: 15%;
    justify-content: center;
    align-items: center;
    background: rgba(0,0,0,0.4);
}

.logo {
    max-height: 100%;
}

.logo-text {
    font-family: 'Norse bold', sans-serif;
}

.right-container {
    flex: 2;
    display: flex;
    flex-direction: column;
    justify-content: center;

}

.header {
    background: #fafafa;
    padding: 50px 200px 50px 50px;
    font-weight: 500;
}

.text {
    font-size: 1.3rem;
    color: #111;
}